@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    font-family: 'Poppins', sans-serif; 
    margin: auto;
}
body {
    background-color: #FAF7FD;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
    background-color: #6A8BBF;
    background-size: cover;
    background-repeat: repeat;
}   
main {
    border: 2px solid rgb(148, 181, 237);
    background-color:#b9ddee ;
    width: 30rem;
    height: 43rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    border-radius: 10px;
}
.photo-profile-border {
    display: flex;
    border: 2px solid #BB99DD;
    border-radius: 50%;
    height: 15rem;
    width: 15rem;   
}
img {
    border-radius: 50%;
    width: 14rem;
}
h3 {
    margin: 0;
}
.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
}
.btn-one {
	color: #77add9;
	transition: all 0.3s;
	position: relative;
    font-size: 25px;
    font-weight: bolder;
    margin: 1rem;
}
.btn-one span {
	transition: all 0.3s;
}
.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #77add9;
	border-bottom-color: #77add9;
	transform: scale(0.1, 1);
}
.btn-one:hover span {
	letter-spacing: 3px;
}
.btn-one:hover::before {
	opacity: 1;	
	transform: scale(1.8, 1);	
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: none;
}
.btn-one:hover::after {
	opacity: 0;	 
	transform: scale(0.9 , 1);
}
svg {
    padding-right: 1rem;
    padding-left: 1rem;
    color: #77add9;
}
@media (max-width: 700px) {
    .body {
        width: 100%;
        height: 100%;
    }
}

/* Estilos para telas maiores (a partir de 601px) */
@media (min-width: 601px) {
    /* Estilos para telas maiores aqui */
}